@import "../../index.scss";

nav {
	background: $mainWhite;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	padding: 0.5rem 0.6rem;
	display: grid;
	grid-template-columns: auto 1.2fr;
}
.logo {
	font-size: 2.5rem;
	text-transform: capitalize;
	text-decoration: none;
	color: rgb(44, 174, 186);
}
.nav__list {
	align-self: center;
	list-style-type: none;
	display: flex;
	justify-content: space-evenly;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
}

.nav__list a {
	font-size: 1.3rem;
	text-decoration: none;
	color: $mainBlack;
	text-transform: capitalize;
	text-decoration: none;
	transition: all 0.3s linear;
}

.nav__list li {
	font-size: 1.3rem;
}

#nav__link:hover {
	color: rgb(44, 174, 186);
}

.active {
	color: $mainBlack;
}
